@using ÖğrenciNotMVC.Models.EntityFramework
@model List<Tbl_Kulupler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>KULÜP ID</th>
        <th>KULÜP AD</th>
    </tr>
    <tbody>
        @foreach (var klp in Model)
        {
            <tr>
                <td>@klp.KULUPID</td>
                <td>@klp.KULUAD</td>
            </tr>
        }
    </tbody>
</table>

<a href="/Kulupler/YeniKulup" class="btn btn-primary">Yeni Kulüp Ekle</a>


